body{
    background-image: url(/images/velvetbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover}

#box1
    {height: 100vw;
    width: 100vw;
    position: relative}

#h
    {font-family: "Kranky";
    font-size: 27pt;
    text-align: center;
    color: white;}

#Patreon
    {position: absolute;
    top: 20%;
    height: 15%;
    width: auto}

 #Instagram 
    {position: absolute;
    padding: 2%;
    top: 50%;
    height: 17%;
    width:auto}

#Portfolio 
    {position: absolute;
    right: 5%;
    top: 20%;
    height: 15%;
    width: auto}

#Etsy 
    {position: absolute;
    padding: 2%;
    right: 5%;
    top: 50%;
    height: 15%;
    width: auto}

#box2
    {position: absolute;
    top: 45%;
    left: 33%;
    right: 33%}

p {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 18pt;
    text-align: center;
    padding: 2%}



